<a href="https://colab.research.google.com/github/veerankiteja/CODING/blob/main/Accenture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

def differenceofSum(n. m)

The function accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n.

Assumption:

n>0 and m>0

Sum lies between integral range

Example

Input

n:4

m:20

Output 90

Explanation

Sum of numbers divisible by 4 are 4+8+12+16 + 20 = 60

Sum of numbers not divisible by 4 are 1+2+3+5

+6+7+9+10+11+13+14+15+17+18+19=

150

Difference 150-60 = 90

Sample Input

n:3

m:10

m:10

Sample Output

19

In [ ]:
def difference_of_sum(n, m):
    sum_divisible_by_n = 0
    sum_not_divisible_by_n = 0

    for i in range(1, m + 1):
        if i % n == 0:
            sum_divisible_by_n += i
        else:
            sum_not_divisible_by_n += i

    result = sum_not_divisible_by_n - sum_divisible_by_n
    return result
n = int(input("Enter the value of n: "))
m = int(input("Enter the value of m: "))
result = difference_of_sum(n, m)
print("The difference of the sums is:", result)

Enter the value of n: 3
Enter the value of m: 10
The difference of the sums is: 19

REPLACE CHARACTER

In [ ]:
def replacecharacter(str,ch1,ch2):
  n = len(str)
  if n == 0:
     return "null"
  temp = " "
  str = str.replace(ch1,temp)
  str = str.replace(ch2,ch1)
  str = str.replace(temp,ch2)
  return str
str = input()
ch1 = input()
ch2 = input()
print(replacecharacter(str,ch1,ch2))

apple
a
p
paale

AUTOMORPHIC

In [ ]:
n=int(input())
m=n*n
num=m%10
if num==n:
  print("Automorphic")
else:
  print("Not Automorphic")

5
Automorphic

ABINDANT

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum>n:
  print("ABUNDANT")
elif sum<n:
  print("NOT ABUNDANT")

12
ABUNDANT

HARSHAD NUMBER

In [ ]:
n=int(input())
sum=0
temp=n
while n>0:
  r=n%10
  sum=sum+r
  n=n//10
if temp%sum==0:
  print("Harshad Number")
  print(sum)
else:
  print("Not Harshad Number")

21
Harshad Number
3

PERFACT NUMBER

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum==n:
  print("perfact number")
elif sum!=n:
  print("not perfact number")

6
perfact number

FRIENDLY PAIR

In [ ]:
n1=int(input())
n2=int(input())
sum1=0
sum2=0
for i in range(1,n1):
  if n1%i==0:
    sum1=sum1+i
for j in range(1,n2):
  if n2%j==0:
    sum2=sum2+j
if sum1==n2 and sum2==n1:
  print("FRIENDLY PAIR")
else:
  print("NOT FRIENDLY PAIR")

6
6
FRIENDLY PAIR

PERFACT SQUARE

In [ ]:
import math
n=int(input())
root=math.sqrt(n)
if int(root+0.5)**2==n:
  print("perfect square")
else:
  print("not perfect square")

25
perfect square

STRINGS

VOWEL

In [ ]:
c=input()
if(c=='a' or c=='e' or c=='i' or c=='o' or c=='u' or c=='A' or c=='E' or c=='I' or c=='O' or c=='U'):
  print("vowel")
else:
  print("consenant")

a
vowel

In [ ]:
a = input("Enter a string: ")
v = 0
c = 0
for i in a:
    if i in 'aeiouAEIOU':
        v += 1
    elif i.isalpha():
        c += 1
print("Vowels:", v)
print("Consonants:", c)

Enter a string: Tejasri
Vowels: 3
Consonants: 4

ALPHABET OR NOT

In [ ]:
ch = input("Enter a character: ")

if len(ch) != 1:
    print("Please enter a single character.")
elif 'a' <= ch <= 'z' or 'A' <= ch <= 'Z':
    print("alphabet", ch)
else:
    print("not alphabet", ch)

Enter a character: ad
Please enter a single character.

ASCII VALUE

In [ ]:
a=input()
b=ord(a)
print(b)

A
65

LENGHT OF THE STRING

In [ ]:
s=input()
l=0
for i in s:
  l=l+1
print(l)

Tejasri
7

CONVERT UPPER CASE TO LOWER CASE AND LOWER TO UPPER CASE USING SWAPCASE

In [ ]:
str=input()
print(str.swapcase())

AWvhtHJNig
awVHThjnIG

In [ ]:
str=input()
str1=" "
for i in str:
  if i.isupper():
    i=i.lower()
    str1 += i
  elif i.islower():
    i=i.upper()
    str1 += i
print(str1)

TeJaSrI
 tEjAsRi

In [ ]:
str=input()
str=str[0].upper()+str[1:len(str)-1]+str[len(str)-1].upper()
print(str)

tejasri
TejasrI

In [ ]:
input_str = input()
words = input_str.split()
cap_words = []

for word in words:
    if len(word) > 1:
        cap_word = word[0].upper() + word[1:-1] + word[-1].upper()
    else:
        cap_word = word.upper()

    cap_words.append(cap_word)

print(' '.join(cap_words))

crack a code
CracK A CodE

Peter Rabbit lives in a colony. He is the only rabbit in his colony who is not able to hop. On his 5th birthday, his father Rabbit gifted him a pogo stick as he could not jump like the other rabbits. He is so excited to play with the pogo stick. The pogo stick hops one unit per jump. He wanders around his house jumping with pogo sticks. He wants to show the pogo stick to his friend and decides to go using his pogo stick. Write a program to find the number of hops needed to reach his friends' house (x,y). Assume that Peter Rabbit's house is in the coordinates (3,4).



Input Format

Input consists of two integers x and y.



Output Format

The output is an integer. It corresponds to the number of hops needed to reach his friend's house.



Sample Input

5

10



Sample Output

6

In [ ]:
x=3
y=4
n=int(input())
m=int(input())
b=(abs(x-n))**2
c=(abs(y-m))**2
d=(b+c)**(1/2)
e=d//1
print(e)

5
10
6.0

Having crossed the three-headed faun, Harry, Dumbledore, and Snape went through a secret trap door in search of the Sorcerer's tomb. On the way, they passed through a room and found that the room has only one door opposite to them, and the door through which they entered shut once they entered the room. The door was very large with a four-digit number imprinted on it. When Harry and Dumbledore tried to open it by casting out spells, it didn't open. Having tried various spells, both got fed up and left the task to Snape. Snape curiously observing the room found that a statement was written on the top of the room. It was written as follows "I will be always four" “I can only be opened when you add my first and last digit and enter it” and “If you find a sign, you should not consider it” help Snape break the code and open the door so that they can save the Sorcerer's tomb.



Input Format:

Input consists of an integer which is a four-digit number present on the door.



Output Format:

The output is a single integer.



Sample Input 1:

1001



Sample Output 1:

2



Sample Input 2:

1110



Sample Output 2:

1


Case 1
Input (stdin)
1001

Output (stdout)
2

In [ ]:
n =input()
a=int(n[0])
b=int(n[-1])
sum=a+b
print(sum)

1001
2

Leena wanted to start a business and she was looking for a venture capitalist. Through her friend, she met a construction company owner Meena, who was interested in investing in an emerging business. Looking at the business proposal, the owner was very much impressed with Leena's work. So she decided to invest in Leena's business and hence gave a green signal to go ahead with the project. Leena got a loan of Rs. X for a period of Y years from the owner at R% interest per annum. Find the rate of interest and the total amount to be returned by Leena to the owner. The owner was impressed by the proper repayment of the financed amount and decides to give a special offer of a 2% discount on the total interest at the end of the settlement. Find the discount amount and also find the total amount given back by Leena.

Note:All rupee values should be in two decimal points.



Input Format:

Input consists of 3 floating point values.

The first one corresponds to the principal amount borrowed by Leena.

The second one corresponds to the rate of interest

The third one corresponds to the number of years.

The output consists of 4 floating point values.



Output Format:

The first value corresponds to the interest.

The second value corresponds to the amount.

The third value corresponds to the discount.

The last value corresponds to the final settlement.

All floating point values are to be rounded off to two decimal places.



Sample Input:

100

1

10



Sample Output:

10.00

110.00

0.20

109.80


Case 1
Case 2
Input (stdin)
100
1
10

Output (stdout)
10.00
110.00
0.20
109.80

In [ ]:
P = float(input())
R = float(input())
T = float(input())
SI = (P * R * T) / 100
A = P + SI
Discount = 0.02 * SI
Final_Settlement = A - Discount
print(f"{SI:.2f}")
print(f"{A:.2f}")
print(f"{Discount:.2f}")
print(f"{Final_Settlement:.2f}")

100
1
10
10.00
110.00
0.20
109.80

Reverse a String
Write a function that will accept strings from the user and will reverse
the string word-wise. The last word will come as the first word in the
output and vice versa?
Sample Test Case 1:
Input:
terv pro
Output:
pro terv
Explanation:
The reverse string word-wise function is applied.
Sample Test Case 2:
Input:
Welcome to Sunday samayal
Output:
samayal Sunday to Welcome

In [ ]:
def reverse(n):
  rev=' '.join(n.split()[::-1])
  return rev
n=input()
print(reverse(n))

terv pro
pro terv

Replace Character
Write a function Replacecharacter(Char str1, Char ch1, Int 1, Char ch2)
which has a string(str) and the two characters ch1 and ch2. Execute a
function in such a way that string str will return to its original string,
and all the events in ch1 are replaced by ch2 and vice versa?
Consider: The strings will have only alphabets in lower case.
Sample Test Case:
Input:
str: tervpro
ch1: e
ch2: p
Output:
tprvero
Solution:
All the ‘e’s in the string are replaced with the ‘p’ and ‘p’ is replaced with
the ‘e’.

In [ ]:
def replace(str,ch1,ch2):
  str=str.replace(ch1,"#")
  str=str.replace(ch2,ch1)
  str=str.replace("#",ch1)
  return str
str=input()
ch1=input()
ch2=input()
print(replace(str,ch1,ch2))

tervpro
e
p
tervero

The function accepts two positive integers ‘r’ and ‘unit’ and a positive
integer array ‘arr’ of size ‘n’ as its argument ‘r’ represents the number
of rats present in an area, ‘unit’ is the amount of food each rat
consumes and each ith element of array ‘arr’ represents the amount of
food present in ‘i+1’ house number, where 0 <= i.
Note:
1. Return -1 if the array is null
2. Return 0 if the total amount of food from all houses is not sufficient
for all the rats.
3. Computed values lie within the integer range.
Example:
Input:
r: 7
unit: 2
n: 8
arr: 2 8 3 5 7 4 1 2
Output:
4
Explanation:
Total amount of food required for all rats = r unit
= 7 2 = 14.
The amount of food in 1st houses = 2+8+3+5 = 18. Since, the amount of
food in 1st 4 houses is sufficient for all the rats. Thus, output is 4.

In [ ]:
r = 7
unit = 2
arr = [2, 8, 3, 5, 7, 4, 1, 2]
n = 8
if n == 0:
    print(-1)
else:
    total_food = r * unit
    total_food_available = 0
    house_count = 0
    for food in arr:
        total_food_available += food
        house_count += 1
        if total_food_available >= total_food:
            print(house_count)
            break

4

You are given a function,
int findCount(int arr[], int length, int num, int diff);
The function accepts an integer array ‘arr’, its length and two integer
variables ‘num’ and ‘diff’. Implement this function to find and return
the number of elements of ‘arr’ having an absolute difference of less
than or equal to ‘diff’ with ‘num’.
Note: In case there is no element in ‘arr’ whose absolute difference
with ‘num’ is less than or equal to ‘diff’, return -1.
Example:
Input:
arr: 12 3 14 56 77 13
num: 13
diff: 2
Output:
3
Explanation:
Elements of ‘arr’ having absolute difference of less than or equal to
‘diff’ i.e. 2 with ‘num’ i.e. 13 are 12, 13 and 14

In [ ]:
def findcount(arr,length,num,diff):
  count=0
  for i in range(length):
    if abs(arr[i]-num)<=diff:
       count+=1
  if count==0:
      return -1
  return count
arr=list(map(int,input().split()))
length=int(input())
num=int(input())
diff=int(input())
print(findcount(arr,length,num,diff))

12 3 14 56 77 13
6
13
2
3

Jon Snow and the men in the north decided to open Castle Black for the northerners and the Castle was turned into a Hotel. The Hotel was flourishing and there was high demand for the rooms. So Jon Snow decided to modify the tariff accordingly. Write a program to calculate the hotel tariff. The room rent is 20% high during peak seasons [April-June and November-December].



Input Format

The first input integer denotes the count of the month. The second input integer denotes the room rent per day. The third input integer denotes the number of days stayed in the hotel.



Output Format

Print the hotel tariff to be paid. (Note: if the month value entered is not ranging from 1-12, print as Invalid Input)



Sample Input

3

1500

2



Sample Output

3000


Case 1
Case 2
Input (stdin)
3
1500
2

Output (stdout)
3000

In [ ]:
n = int(input())
a = int(input())
b = int(input())
if n < 1 or n > 12:
    print("Invalid Input")
else:
    if 4 <= n <= 6 or 11 <= n <= 12:
        a = a * 1.2
    total_tariff = int(a * b)
    print(total_tariff)

3
1500
2
3000

13. DECODE
N-base notation is a system for writing numbers that uses only n
different symbols, This symbols are the first n symbols from the given
notation list(Including the symbol for o) Decimal to n base notation are
(0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:A,11:B and so on upto
35:Z).
Implement the following function
char DectoNBase(int n, int num):*
The function accept positive integer n and num Implement the function
to calculate the n-base equivalent of num and return the same as a
string
Steps:
Divide the decimal number by n,Treat the division as the integer
division
Write the the remainder (in n-base notation)
Divide the quotient again by n, Treat the division as integer division
Repeat step 2 and 3 until the quotient is 0
The n-base value is the sequence of the remainders from last to first
Assumption:
1 < n < = 36
 Example
Input
n: 12
num: 718
Output
4BA
Explanation
num = 718, divisor = 12, quotient=59, remainder=10(A).
num = 59, divisor = 12, quotient=4, remainder=11(B).
num = 4, divisor = 12, quotient=0, remainder=4(A).

In [ ]:
def DectoNBase(n, num):
    if num == 0:
        return "0"
    symbols = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = []
    while num > 0:
        remainder = num % n
        result.append(symbols[remainder])
        num = num // n
    result.reverse()
    return ''.join(result)
n = int(input())
num = int(input())
print(DectoNBase(n, num))

12
718
4BA

14. MATRIX EVEN ODD
You are required to input the size of the matrix then the elements of
matrix, then you have to divide the main matrix in two sub matrices
(even and odd) in such a way that element at 0 index will be considered
as even and element at 1st index will be considered as odd and so on.
Then you have sort the even and odd matrices in ascending order and
print the sum of second largest number from both the matrices.
Example
enter the size of array : 5
enter element at 0 index : 3
enter element at 1 index : 4
enter element at 2 index : 1
enter element at 3 index : 7
enter element at 4 index : 9
Sorted even array : 1 3 9
Sorted odd array : 4 7
Sum = 7

In [ ]:
arr=[]
even_arr=[]
odd_arr=[]
n=int(input("enter size of the array:"))
for i in range(0,n):
  number=int(input("enter element at {} index:".format(i)))
  arr.append(number)
  if i%2==0:1
    even_arr.append(number)
  else:
    odd_arr.append(number)
even_arr.sort()
odd_arr.sort()
print(even_arr[-2]+odd_arr[-2])

enter size of the array:5
enter element at 0 index:3
enter element at 1 index:4
enter element at 2 index:1
enter element at 3 index:7
enter element at 4 index:9
7

15. MATHS IS FUN
You are required to implement the following function:
int Calculate(int m, int n);
The function accepts 2 positive integers ‘m’ and ‘n’ as its arguments.You
are required to calculate the sum of numbers divisible both by 3 and 5,
between ‘m’ and ‘n’ both inclusive and return the same.
Note
0 < m <= n
Example
Input:
m : 12
n : 50
Output
90
Explanation:
The numbers divisible by both 3 and 5, between 12 and 50 both
inclusive are {15, 30, 45} and their sum is 90.
Sample Input
m : 100
n : 160
Sample Output
510

In [ ]:
def Calculate(m, n):
    sum=0
    for i in range(m,n+1):
      if i%3==0 and i%5==0:
        sum+=i
    return sum
m=int(input())
n=int(input())
print(Calculate(m,n))

100
160
510

16. Write a program to find the length of the longest common
subsequence between two strings.

In [ ]:
def longest_common_subsequence(str1, str2):
    m, n = len(str1), len(str2)
    if m < n:
        str1, str2 = str2, str1
        m, n = n, m
    prev = [0] * (n + 1)
    curr = [0] * (n + 1)
    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if str1[i - 1] == str2[j - 1]:
                curr[j] = prev[j - 1] + 1
            else:
                curr[j] = max(prev[j], curr[j - 1])
        prev, curr = curr, prev
    return prev[n]
print(longest_common_subsequence("ABCBDAB", "BDCAB"))
print(longest_common_subsequence("AGGTAB", "GXTXAYB"))

4
4

17. Write a program to find the length of the longest palindrome
subsequence in a string.

In [ ]:
def longest_palindromic_subsequence(s: str) -> int:
    n = len(s)
    dp = [[0] * n for _ in range(n)]
    for i in range(n):
        dp[i][i] = 1
    for cl in range(2, n + 1):
        for i in range(n - cl + 1):
            j = i + cl - 1
            dp[i][j] = 2 + dp[i + 1][j - 1] if s[i] == s[j]  else max(dp[i + 1][j], dp[i][j - 1])
    return dp[0][n - 1]
s = "bbbab"
print( longest_palindromic_subsequence(s))

4

Write a program to find all permutations of a string.

In [ ]:
def permute(s, answer):
    if len(s) == 0:
        print(answer)
        return

    for i in range(len(s)):
        char = s[i]
        left_substr = s[0:i]
        right_substr = s[i+1:]
        rest = left_substr + right_substr
        permute(rest, answer + char)
s = input()
permute(s, "")

ABC
ABC
ACB
BAC
BCA
CAB
CBA

19. SMALEST PRODUCT
def ProductSmallestPair(sum, arr)
The function accepts an integers sum and an integer array arr of size n.
Implement the function to find the pair, (arr[j], arr[k]) where j!=k, Such
that arr[j] and arr[k] are the least two elements of array (arr[j] + arr[k]
<= sum) and return the product of element of this pair
NOTE
Return -1 if array is empty or if n<2
Return 0, if no such pairs found
All computed values lie within integer range

Example
Input
sum:9
size of Arr = 7
Arr:5 2 4 3 9 7 1
Output
2
Explanation
Pair of least two element is (2, 1) 2 + 1 = 3 < 9, Product of (2, 1) 2*1 = 2.
Thus, output is 2
Sample Input
sum:4
size of Arr = 6
Arr:9 8 3 -7 3 9
Sample Output -21

In [ ]:
def least_product(sum,n,arr):
  if n<2:
    return -1
  arr.sort()
  s=arr[0]+arr[1]
  if s<=sum:
    return arr[0]*arr[1]
  return 0
sum=int(input())
n=int(input())
arr=list(map(int,input().split()))
print(least_product(sum,n,arr))

9
7
5 2 4 3 9 7 1
2

20. MOVES
char*MoveHyphen(char str[],int n);
The function accepts a string “str” of length ‘n’, that contains alphabets
and hyphens (-). Implement the function to move all hyphens(-) in the
string to the front of the given string.
NOTE:- Return null if str is null.
Example :-
Input:
str.Move-Hyphens-to-Front
Output:
—MoveHyphenstoFront
Explanation:-
The string “Move-Hyphens -to-front” has 3 hyphens (-), which are
moved to the front of the string, this output is “— MoveHyphen”
Sample Input
Str: String-Compare
Sample Output- -StringCompare

In [ ]:
def hyfen(n):
    count=''
    string=''
    for char in n:
        if char=="-":
            count+=char
        else:
            string+=char
    return count+string
n=input()
print(hyfen(n))

te-ja-sr-i
---tejasri

The given are two positive integers Year and Month, the task is to find the number of days corresponding to each month of the given year where 1 is January, 2 is February, 3 is March, and so on.

Note: The Input range of year: Minimum Year = 1900 and Maximum Year = 9999 i.e (1900<=Year<=9999). The Input range of month: Minimum Month = 12 and Maximum Year = 12 i.e (1<=month<=12) If the given year does not lie between the given range, output 0.



Input Format

The input consists of two lines. The first line contains an integer, which is the Year. The second line contains an integer, which is the Month.



Output Format

The output prints the number of days. Refer to the sample output



Sample Input 1

2000

2



Sample Output 1

29 Days


Case 1
Case 2
Input (stdin)
1999
8

Output (stdout)
31 Days

In [1]:
def interger(n,m):
  if 1900<=n<=9999 and 1<=m<=12:
    if m==1:
      return"31"
    elif m==2:
      if n%4==0:
        return"29 Days"
      else:
        return"28 Days"
    elif m==3:
      return"31 Days"
    elif m==4:
      return"30 Days"
    elif m==5:
      return"31 Days"
    elif m==6:
      return"30 Days"
    elif m==7:
      return"31 Days"
    elif m==8:
      return"31 Days"
    elif m==9:
      return"30 Days"
    elif m==10:
      return"31 Days"
    elif m==11:
      return"30 Days"
    elif m==12:
      return"31 Days"
  else:
    return "0"
n=int(input())
m=int(input())
print(interger(n,m))

2000
2
29 Days

A prime number is divisible only by 1 and itself. You are given a positive integer. Write an algorithm to find all the prime numbers from 2 to the given positive number



Input Format

The input consists of an integer.



Output Format

Print space-separated integers representing the prime numbers till the given positive number.



Sample Input 1

11



Sample Output 1

2 3 5 7 11


Case 1
Case 2
Input (stdin)
11

Output (stdout)
2 3 5 7 11

In [2]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2,int(num** 0.5)+ 1):
        if num % i == 0:
            return False
    return True
def find_primes_up_to(n):
    primes = []
    for i in range(2, n + 1):
        if is_prime(i):
            primes.append(i)
    return primes
n = int(input())
primes = find_primes_up_to(n)
print(" ".join(map(str, primes)))

11
2 3 5 7 11