<a href="https://colab.research.google.com/github/veerankiteja/CODING/blob/main/Accenture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

def differenceofSum(n. m)

The function accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n.

Assumption:

n>0 and m>0

Sum lies between integral range

Example

Input

n:4

m:20

Output 90

Explanation

Sum of numbers divisible by 4 are 4+8+12+16 + 20 = 60

Sum of numbers not divisible by 4 are 1+2+3+5

+6+7+9+10+11+13+14+15+17+18+19=

150

Difference 150-60 = 90

Sample Input

n:3

m:10

m:10

Sample Output

19

In [ ]:
def difference_of_sum(n, m):
    sum_divisible_by_n = 0
    sum_not_divisible_by_n = 0

    for i in range(1, m + 1):
        if i % n == 0:
            sum_divisible_by_n += i
        else:
            sum_not_divisible_by_n += i

    result = sum_not_divisible_by_n - sum_divisible_by_n
    return result
n = int(input("Enter the value of n: "))
m = int(input("Enter the value of m: "))
result = difference_of_sum(n, m)
print("The difference of the sums is:", result)

Enter the value of n: 3
Enter the value of m: 10
The difference of the sums is: 19

REPLACE CHARACTER

In [ ]:
def replacecharacter(str,ch1,ch2):
  n = len(str)
  if n == 0:
     return "null"
  temp = " "
  str = str.replace(ch1,temp)
  str = str.replace(ch2,ch1)
  str = str.replace(temp,ch2)
  return str
str = input()
ch1 = input()
ch2 = input()
print(replacecharacter(str,ch1,ch2))

apple
a
p
paale

AUTOMORPHIC

In [ ]:
n=int(input())
m=n*n
num=m%10
if num==n:
  print("Automorphic")
else:
  print("Not Automorphic")

5
Automorphic

ABINDANT

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum>n:
  print("ABUNDANT")
elif sum<n:
  print("NOT ABUNDANT")

12
ABUNDANT

HARSHAD NUMBER

In [ ]:
n=int(input())
sum=0
temp=n
while n>0:
  r=n%10
  sum=sum+r
  n=n//10
if temp%sum==0:
  print("Harshad Number")
  print(sum)
else:
  print("Not Harshad Number")

21
Harshad Number
3

PERFACT NUMBER

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum==n:
  print("perfact number")
elif sum!=n:
  print("not perfact number")

6
perfact number

FRIENDLY PAIR

In [ ]:
n1=int(input())
n2=int(input())
sum1=0
sum2=0
for i in range(1,n1):
  if n1%i==0:
    sum1=sum1+i
for j in range(1,n2):
  if n2%j==0:
    sum2=sum2+j
if sum1==n2 and sum2==n1:
  print("FRIENDLY PAIR")
else:
  print("NOT FRIENDLY PAIR")

6
6
FRIENDLY PAIR

PERFACT SQUARE

In [ ]:
import math
n=int(input())
root=math.sqrt(n)
if int(root+0.5)**2==n:
  print("perfect square")
else:
  print("not perfect square")

25
perfect square

STRINGS

VOWEL

In [ ]:
c=input()
if(c=='a' or c=='e' or c=='i' or c=='o' or c=='u' or c=='A' or c=='E' or c=='I' or c=='O' or c=='U'):
  print("vowel")
else:
  print("consenant")

a
vowel

In [ ]:
a = input("Enter a string: ")
v = 0
c = 0
for i in a:
    if i in 'aeiouAEIOU':
        v += 1
    elif i.isalpha():
        c += 1
print("Vowels:", v)
print("Consonants:", c)

Enter a string: Tejasri
Vowels: 3
Consonants: 4

ALPHABET OR NOT

In [ ]:
ch=input()
if 'a'<=ch<='z' or 'A'<=ch<='Z':
  print("alphabet",ch)
else:
  print("not alphabet",ch)

a#2
alphabet a#2

ASCII VALUE

In [ ]:
a=input()
b=ord(a)
print(b)

A
65

LENGHT OF THE STRING

In [ ]:
s=input()
l=0
for i in s:
  l=l+1
print(l)

Tejasri
7

CONVERT UPPER CASE TO LOWER CASE AND LOWER TO UPPER CASE USING SWAPCASE

In [ ]:
str=input()
print(str.swapcase())

AWvhtHJNig
awVHThjnIG

In [ ]:
str=input()
str1=" "
for i in str:
  if i.isupper():
    i=i.lower()
    str1 += i
  elif i.islower():
    i=i.upper()
    str1 += i
print(str1)

TeJaSrI
 tEjAsRi

In [ ]:
str=input()
str=str[0].upper()+str[1:len(str)-1]+str[len(str)-1].upper()
print(str)

tejasri
TejasrI

In [ ]:
input_str = input()
words = input_str.split()
cap_words = []

for word in words:
    if len(word) > 1:
        cap_word = word[0].upper() + word[1:-1] + word[-1].upper()
    else:
        cap_word = word.upper()

    cap_words.append(cap_word)

print(' '.join(cap_words))

crack a code
CracK A CodE

Peter Rabbit lives in a colony. He is the only rabbit in his colony who is not able to hop. On his 5th birthday, his father Rabbit gifted him a pogo stick as he could not jump like the other rabbits. He is so excited to play with the pogo stick. The pogo stick hops one unit per jump. He wanders around his house jumping with pogo sticks. He wants to show the pogo stick to his friend and decides to go using his pogo stick. Write a program to find the number of hops needed to reach his friends' house (x,y). Assume that Peter Rabbit's house is in the coordinates (3,4).



Input Format

Input consists of two integers x and y.



Output Format

The output is an integer. It corresponds to the number of hops needed to reach his friend's house.



Sample Input

5

10



Sample Output

6

In [ ]:
x=3
y=4
n=int(input())
m=int(input())
b=(abs(x-n))**2
c=(abs(y-m))**2
d=(b+c)**(1/2)
e=d//1
print(e)

5
10
6.0

Having crossed the three-headed faun, Harry, Dumbledore, and Snape went through a secret trap door in search of the Sorcerer's tomb. On the way, they passed through a room and found that the room has only one door opposite to them, and the door through which they entered shut once they entered the room. The door was very large with a four-digit number imprinted on it. When Harry and Dumbledore tried to open it by casting out spells, it didn't open. Having tried various spells, both got fed up and left the task to Snape. Snape curiously observing the room found that a statement was written on the top of the room. It was written as follows "I will be always four" “I can only be opened when you add my first and last digit and enter it” and “If you find a sign, you should not consider it” help Snape break the code and open the door so that they can save the Sorcerer's tomb.



Input Format:

Input consists of an integer which is a four-digit number present on the door.



Output Format:

The output is a single integer.



Sample Input 1:

1001



Sample Output 1:

2



Sample Input 2:

1110



Sample Output 2:

1


Case 1
Input (stdin)
1001

Output (stdout)
2

In [1]:
n =input()
a=int(n[0])
b=int(n[-1])
sum=a+b
print(sum)

1001
2